/* ------------------------------------------GÉNÉRIQUE------------------------------------------ */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------ÉLÉMENTS------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Roboto", "Lato", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font:
    900 6rem "Roboto",
    sans-serif;
  letter-spacing: 30px;

  color: white;

  text-align: center;
  margin: 0;
  padding: 40px 0px;
}

h2 {
  font:
    100 3rem "Lato",
    sans-serif;
  letter-spacing: 5.5%;

  color: black;

  text-align: right;
}

p {
  font:
    400 2.25rem "Quicksand",
    sans-serif;
  font-optical-sizing: auto;

  color: black;
}

/* ------------------------------------------COMPONENTS------------------------------------------ */

.wrapper {
  max-width: 1100px;

  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #34495e;
}

/* SECTION 01 */
.regles article {
  display: grid;
  gap: 80px;
  grid-template-columns: auto auto;

  justify-items: center;
  align-items: center;
}

.regles article:hover {
  background-color: #BDC3C7;
}

.rond {
  font:
    700 1.875rem "Quicksand",
    sans-serif;
  color: #d35400;

  border: 5px solid #d35400;
  background-color: white;
  width: 210px;
  height: 210px;
  border-radius: 100%;

  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  max-width: fit-content;
  max-height: fit-content;
}

.droite{
  justify-self: right;
}

#droite{
  margin-left: 110px;
}

.gauche{
  justify-self: left;
}

#gauche{
  margin-right: 80px;
}

/* SECTION 02 */

/* FOOTER */

.footer {
  background-color: #2980b9;
  padding-top: 20px;
  padding-top: 20px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer p {
  color: black;

  margin: 0px;
}