/* ------------------------------------------GÉNÉRIQUE------------------------------------------ */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------ÉLÉMENTS------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Dosis", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  /* 400 regular, 700 bold */

  text-align: center;

  color: white;

  margin: 0px;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  font-weight: bold;

  color: #0e5ea1;

  margin: 0px;
  padding-top: 80px;
  padding-bottom: 35px;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: bold;

  color: #000000;
}

p {
  font-family: "Roboto", "Dosis", sans-serif;
  font-size: 18px;

  color: #000000;
}

/* ------------------------------------------COMPONENTS------------------------------------------ */

.wrapper {
  max-width: 1107px;

  margin: 0 auto;
}

/* HEADER */
.header{
    background-color: #34495E;
}

/* SLOGAN */

/* SECTION 01 */

/* SECTION 02 */

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: #2980b9;

  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
}

.footer p {
  color: white;

  margin: 0px;
}
