/* ------------------------------------------GÉNÉRIQUE------------------------------------------ */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------ÉLÉMENTS------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Roboto", "Lato", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font:
    900 6rem "Roboto",
    sans-serif;
  letter-spacing: 30%;

  color: white;

  text-align: center;
  margin: 0;
}

h2 {
  font:
    100 3rem "Lato",
    sans-serif;
  letter-spacing: 5.5%;

  color: black;
}

p {
  font:
    400 2.25rem "Quicksand",
    sans-serif;
  font-optical-sizing: auto;

  color: black;
}

/* ------------------------------------------COMPONENTS------------------------------------------ */

.wrapper {
  max-width: 1100px;

  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #34495e;
}

/* SLOGAN */

/* SECTION 01 */
.rond {
  font:
    700 1.875rem "Quicksand",
    sans-serif;
  letter-spacing: 5%;
  color: #d35400;

  border: 5px solid #d35400;
  background-color: white;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauche {
  float: left;
}

.droite {
  float: right;
}

/* SECTION 02 */

/* FOOTER */

.footer {
  background-color: #2980b9;
  padding-top: 20px;
  padding-top: 20px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer p {
  color: black;

  margin: 0px;
}
