/* ------------------------------------------GÉNÉRIQUE------------------------------------------ */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------ÉLÉMENTS------------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Roboto", "Lato", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font:
    900 6rem "Roboto",
    sans-serif;
  color: white;
  letter-spacing: 36%;
}

h2 {
  font:
    100 3rem/60% "Lato",
    sans-serif;
  color: black;
  letter-spacing: 5.5%;
}

p {
  font:
    2.25rem/60% "Quicksand",
    sans-serif;
  color: black;
  font-optical-sizing: auto;
}

/* ------------------------------------------COMPONENTS------------------------------------------ */

.wrapper {
  max-width: 1100px;

  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #34495e;
}

/* SLOGAN */

/* SECTION 01 */

/* SECTION 02 */

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: #2980b9;

  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
}

.footer p {
  color: white;

  margin: 0px;
}
